[run]
branch = True
omit =
    venv/*
    manage.py
    __localcode/*
    **/*test*.py
    **/tests/*
    **/migrations/*
    **/management/**
    projeto/settings.py
    projeto/wsgi.py
    projeto/asgi.py
    utils/recipes/*
